@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #ff6600;
    text-align: center;
}


body {
    background-image: url(./img/bg2.jpg);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
}

.content {
    text-align: center;
    width: 100%;
}

h1 {
    color: #01ffff;
    text-align: center;
    margin-bottom: 5px;
}

a {
    color: #2b81d8;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

i.fas {
    color: #01ffff;
}

i.fab {
    color: #0565bf;
}

i:hover {
    color: #01ffff;
}

a:hover,
a:focus {
    color: #01ffff;
}

img {
    max-width: 80%;
    padding: 5%;
}

.contributors {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
}

.contributors a:not(:last-of-type)::after {
    content: " |";
    color: #ff7e29;
}

@media (max-width: 600px) {
    .contributors {
        display: flex;
        flex-direction: column;
    }
    .contributors a {
        margin: 5px 0;
    }
    .contributors a:not(:last-of-type)::after {
        content: "";
    }
}

.contributors a {position: relative;}
.contributors a span {position: absolute; display: none; margin-left: auto; margin-right: auto; left: 0 ; }
.contributors a span img{border-radius: 80px;}
.contributors a:hover span {display: block;}

.navbar{
    height:60px;
    width:100%;   
    display: flex;
    background-color: #f74700;
}
.container{
    margin-left:10%;
    margin-right: 10%;
    width:80%;
    height: 60px;
}
.navbar-brand{
    width:20%;
    height: 60px;
    padding: 20px;
}
.navbar-contain{
    width:80%;
    height: 60px;
}
.brand-login{
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.login-page{
    width:35vw;
    height:70vh;
    background-color: white;
    margin:auto;
    position: relative;     

}
.login-contain{
    justify-content: center;   
    width:100%;
    padding-top: 10vh;
   
}
.inputclss{
    height: 50px;
    width:80%;
    background-color: white;
}
button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}